[mysqld]
# Basics
user                      = mysql
skip_name_resolve         = 1
character-set-server      = utf8mb4
collation-server          = utf8mb4_unicode_ci
default_time_zone         = SYSTEM
sql_mode                  = ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# Concurrency / Limits
max_connections           = 150
thread_cache_size         = 50
open_files_limit          = 65535
table_open_cache          = 3000
table_definition_cache    = 1500

# InnoDB
innodb_buffer_pool_size         = 640M     # ~60–65% available memory
innodb_buffer_pool_instances    = 1
innodb_log_file_size            = 256M
innodb_log_buffer_size          = 64M
innodb_flush_log_at_trx_commit  = 2        # 1 = maximum ACID; 2 = faster, ok for WP
innodb_flush_method             = O_DIRECT
innodb_flush_neighbors          = 0        # if running on SSDs
innodb_file_per_table           = 1

# Temp Tables
tmp_table_size                  = 64M
max_heap_table_size             = 64M

# Minimize Aria/MyISAM (WP uses InnoDB)
aria_pagecache_buffer_size      = 64M
key_buffer_size                 = 8M

# Binlog off, if no Replication/Point-in-Time-Recovery is needed
skip_log_bin                    = 1

# Diagnostik
slow_query_log                  = 1
long_query_time                 = 1
log_slow_verbosity              = query_plan